<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <base href="/"/>
</head>
<body>
    <h3>用户注册</h3>
    <form action="user/add" method="post">
        用户名：<input type="text" name="username"/><br/>
        密码：<input type="password" name="password"/><br/>
        邮箱：<input type="text" name="email"/><br/>
        <input type="submit" value="注册"/>
    </form>

    <script type="text/javascript">
        window.setTimeout(function () {
            alert("boom！");
        },3000);
        
        window.setInterval(function () {
            alert("更新时间");
        },1000)
    </script>
</body>
</html>