<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品的列表页面</title>
    <base href="/"/>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="css/uploadifive.css">

</head>
<body>
    <!--采用Bootstrap实现布局-->
    <!--row col 栅格布局 搭积木 样式组合 -->
    <div class="container-fluid">
        <!--1.按钮-->
        <div class="row">
            <!--列偏移-->
            <div class="col-md-4 col-md-offset-8">
                <button type="button" class="btn btn-primary" id="to-add">添加</button>
                <button type="button" class="btn btn-danger" id="to-batch-del">批量删除</button>
            </div>
        </div>

        <!--2.列表-->
        <div class="row">
            <div class="col-md-12">
                <!--表格展示数据-->
                <table class="table table-hover">
                    <tr>
                        <td>
                            <!--全选复选框-->
                            <input type="checkbox" id="checkAll"/>
                        </td>
                        <td>商品类别</td>
                        <td>名称 </td>
                        <td>价格</td>
                        <td>图片</td>
                        <td>卖点</td>
                        <td>操作</td>
                    </tr>
                    <tr th:each="p : ${page.list}">
                        <td>
                            <input type="checkbox" class="cxb" th:value="${p.id}"/>
                        </td>
                        <td th:text="${p.typeName}">电子数码</td>
                        <td th:text="${p.name}">笔记本</td>
                        <td th:text="${p.price}">9999</td>
                        <td>
                            <img src="#" th:src="${p.images}"/>
                        </td>
                        <td th:text="${p.salePoint}">极速</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm btn-update" th:id="${p.id}">修改</button>
                            <button type="button" class="btn btn-danger btn-sm btn-delete" th:id="${p.id}">删除</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <!--3.分页信息-->
        <div class="row">
            <!--展示分页的基本信息-->
            <div class="col-md-6">
                当前是第<span th:text="${page.pageNum}"></span>页，
                每页展示<span th:text="${page.pageSize}"></span>条记录，
                共<span th:text="${page.pages}"></span>页
            </div>
            <!--展示分页栏的信息-->
            <div class="col-md-6">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li th:each="pageNum : ${page.navigatepageNums}"
                            th:class="${page.pageNum == pageNum ? 'active' : ''}" >
                            <a href="#" th:href="|product/page/${pageNum}/${page.pageSize}|" th:text="${pageNum}">1</a>
                        </li>

                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>


    <!--添加弹出层-->
    <div class="modal fade" tabindex="-1" role="dialog" id="addModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">添加商品</h4>
                </div>
                <div class="modal-body">
                    <!--录入商品信息的表单-->
                    <form class="form-horizontal" id="addForm" action="product/add" method="post">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">商品名称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="name" placeholder="规则" name="product.name"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="price" class="col-sm-2 control-label">价格</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="price" name="product.price"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="salePrice" class="col-sm-2 control-label">促销价</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="salePrice" name="product.salePrice"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="salePoint" class="col-sm-2 control-label">卖点</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="salePoint" name="product.salePoint"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="uploadImage" class="col-sm-2 control-label">图片</label>
                            <div class="col-sm-10">
                                <input type="file" name="file" id="uploadImage"/>
                                <img src="#" id="showImage" style="width:100px;height:100px;display: none;"/>
                                <!--隐藏域保存图片的路径-->
                                <input type="hidden" id="images" name="product.images"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="typeId" class="col-sm-2 control-label">商品类别</label>
                            <div class="col-sm-10">
                                <!--TODO 修改成活的数据-->
                                <!--版本一：展示的只是第一级分类 通过Ajax加载 -->
                                <select class="form-control" id="typeId" name="product.typeId">
                                    <option value="1">电子数码</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                                <!--版本二：ztree -->
                                <!--根据用户的选择做改变！-->
                                <input type="hidden" value="电子数码" name="product.typeName"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="productDesc" class="col-sm-2 control-label">描述</label>
                            <div class="col-sm-10">
                                <div id="editor">
                                    <p>欢迎使用 <b>wangEditor</b> 富文本编辑器</p>
                                </div>
                                <input type="hidden" id="productDesc" name="productDesc"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="add">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>

    <script src="js/jquery.uploadifive.js"></script>

    <script src="https://unpkg.com/wangeditor@3.1.1/release/wangEditor.min.js"></script>

    <script type="text/javascript">
        $(function () {
            //为添加按钮绑定事件
            $("#to-add").click(function () {
                //控制层的弹出
                $('#addModal').modal({
                    backdrop : "static",
                    keyboard : false
                });
            })

            //为保存按钮绑定事件
            $("#add").click(function () {
                //将富文本框的内容放到隐藏域
                var content = editor.txt.html();
                $("#productDesc").val(content);
                $("#addForm").submit();
            })

            //为修改按钮绑定事件
            $(".btn-update").click(function () {
                //获取当前记录的id
                var id = $(this).prop("id");
                //根据id，异步获取数据，完成数据的回显
                alert(id);
            })

            //为删除按钮绑定事件
            $(".btn-delete").click(function () {

                //获取当前记录的id
                var id = $(this).prop("id");
                //发送Ajax请求
                $.ajax({
                    url :"product/delById/"+id,
                    type:"POST",
                    success:function (data) {
                        if(data.statusCode == 200){
                            alert(data.data);
                            location.reload();
                        }else{
                            alert(data.data);
                        }
                    }
                })

            });

            //实现全选的控制效果
            //上面控制下面
            $("#checkAll").click(function () {
                $(".cxb").prop("checked",$(this).prop("checked"));
            });
            //下面控制上面
            $(".cxb").click(function () {
                //计算要不要把全选的勾上 过滤选择器
                $("#checkAll").prop("checked",$(".cxb").length==$(".cxb:checked").length);
            });

            //实现批量删除
            $("#to-batch-del").click(function () {
                //1.获取被选中的复选框
                var checkeds = $(".cxb:checked");
                //2.
                if(checkeds.length > 0){
                    if(confirm("是否确定删除？删除之后，数据不可恢复！")){
                        //2.组装成一个数组
                        var ids = [];
                        for(var i=0;i<checkeds.length;i++){
                            ids.push(checkeds[i].value);
                        }
                        console.log(ids);
                        //3.传递给后端
                        $.ajax({
                            url :"product/batchDel",
                            data : "ids="+ids,
                            type:"POST",
                            success:function (data) {
                                if(data.statusCode == 200){
                                    alert(data.data);
                                    location.reload();
                                }else{
                                    alert(data.data);
                                }
                            }
                        })
                    }
                }

            })

            //初始化上传文件按钮
            $('#uploadImage').uploadifive({
                'uploadScript' : 'file/upload',
                'buttonText' : '上传',
                'fileObjName' : 'file',
                'onUploadComplete' : function(file, data) {
                    var jsonObj = JSON.parse(data);
                    $("#showImage").attr("src",jsonObj.data).show();
                    $("#images").val(jsonObj.data);
                }
            });

            //初始化富文本框
            var E = window.wangEditor;
            var editor = new E('#editor');
            // 自定义菜单配置
            editor.customConfig.menus = [
                'head',  // 标题
                'bold',  // 粗体
                'fontSize',  // 字号
                'fontName',  // 字体
                'italic',  // 斜体
                'underline',  // 下划线
                'strikeThrough',  // 删除线
                'foreColor',  // 文字颜色
                'backColor',  // 背景颜色
                'image',  // 插入图片
            ];
            // 配置服务器端地址
            editor.customConfig.uploadImgServer = '/file/upload';
            editor.create();
        })
    </script>
</body>
</html>